# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start imports as  ##}
{% import_yaml 'etcd/defaults.yaml' as defaults %}
{% import_yaml 'etcd/osmap.yaml' as os %}

{% set os_filtered = salt['grains.filter_by'](os, grain = 'os') or {} %}

{% if defaults.config is defined %}
{% set config_data = defaults.config %}
{% else %}
{% set config_data = {} %}
{% endif %}

{% if os_filtered.config is defined %}
{% set config_data = salt['slsutil.merge'](config_data, os_filtered.config) %}
{% endif %}

{% set config_data = salt['slsutil.merge'](config_data, salt['pillar.get']('etcd:config', default = {})) %}
